<div *ngIf="game">

    <div class="modal-header">
        <h2><span jhiTranslate="playerFinderApp.game.detail.title">Game</span> {{game.id}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>

    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="row-md jh-entity-details">
            <!--Title-->
            <strong><span jhiTranslate="playerFinderApp.game.title">Title</span></strong>:
            {{game.title}}
            <br>

            <!--Begin Time-->
            <strong><span jhiTranslate="playerFinderApp.game.beginTime">Begin Time</span></strong>:
            {{game.beginTime | date:'medium'}}
            <br>

            <!--Duration-->
            <strong><span jhiTranslate="playerFinderApp.game.duration">Duration</span></strong>:
            {{game.duration}} {{game.duration == 1 ? 'hour' : 'hours'}}
            <br>

            <!--Number of Players-->
            <strong><span jhiTranslate="playerFinderApp.game.numberOfPlayers">Number Of Players</span></strong>:
            {{game.numberOfPlayers}}
            <br>

            <!--Slots Available-->
            <strong><span jhiTranslate="playerFinderApp.game.numberOfSlots">Number Of Slots</span></strong>:
            {{game.numberOfSlots}}
            <br>

            <!--Game Status-->
            <strong><span jhiTranslate="playerFinderApp.game.gameStatus">Game Status</span></strong>:
            <span jhiTranslate="{{'playerFinderApp.GameStatus.' + game.gameStatus}}">{{game.gameStatus}}</span>
            <br>

            <!--Description-->
            <strong><span jhiTranslate="playerFinderApp.game.description">Description</span></strong>:
            {{game.description}}
            <br>

            <!--Location-->
            <strong><span jhiTranslate="playerFinderApp.game.location">Location</span></strong>:
            <span *ngIf="game.location">
                <a [routerLink]="['/location', game.location?.id]">{{game.location?.streetAddress}}</a>
            </span>
            <br>

            <!--Owner of the game-->
            <strong><span jhiTranslate="playerFinderApp.game.owner">Owner</span></strong>:
            {{game.owner?.login}}
            <br>

            <!--Type of Game-->
            <strong><span jhiTranslate="playerFinderApp.game.typeOfGame">Type Of Game</span></strong>:
            <span *ngIf="game.typeOfGame">
                <a [routerLink]="['/game-type', game.typeOfGame?.id]">{{game.typeOfGame?.title}}</a>
            </span>
            <br>

            <!--Players-->
            <strong><span jhiTranslate="playerFinderApp.game.players">Players</span></strong>:
            <span *ngFor="let players of game.players; let last = last">
                {{players.login}}{{last ? '' : ', '}}
            </span>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button [disabled]="!loggedUserIsOwner(game.owner)" class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
