<div class="container">
    <h2 class="title" id="myGameLabel">
        <!--jhiTranslate="playerFinderApp.game.home.createOrEditLabel">-->
        New Game
    </h2>


    <jhi-alert></jhi-alert>


    <div class="row justify-content-center">
        <div class="col-md-12">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div class="form-group" [hidden]="!game.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="game.id" readonly/>
                </div>

                <!--Title-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.title"
                           for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="game.title" required maxlength="35"/>
                    <div [hidden]="editForm.controls.title?.errors !== null && !isSaving">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 35 }">
                            This field cannot be longer than 35 characters.
                        </small>
                    </div>
                </div>

                <!--Location division -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.location"
                           for="field_location">Location</label>

                    <div class="row" style="margin-right: 0; margin-left: 0">
                        <select class="form-control"
                                style="width: calc(100% - 60px); margin-right: 20px"
                                (click)="goGetLocations()"
                                id="field_location"
                                name="location"
                                [(ngModel)]="game.location"
                                disabled="{{locations !== undefined && locations.length === 0}}">
                            <option [ngValue]="locationOption.id === game.location?.id ? game.location : locationOption"
                                    *ngFor="let locationOption of locations; trackBy: trackLocationById">
                                {{locationOption.streetAddress}}
                            </option>
                        </select>

                        <button type="button"
                                style="width: 40px"
                                [routerLink]="['/', { outlets: { popup: 'location-new'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm col-xs-2">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>

                </div>

                <!--Type of Game-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.typeOfGame"
                           for="field_typeOfGame">Type Of Game</label>

                    <div class="row" style="margin-right: 0; margin-left: 0">
                        <select class="form-control"
                                style="width: calc(100% - 60px); margin-right: 20px"
                                id="field_typeOfGame"
                                name="typeOfGame"
                                (click)="goGetTypesOfGames()"
                                [(ngModel)]="game.typeOfGame"
                                disabled="{{gameTypes !== undefined && gameTypes.length === 0}}">
                            <!--<option [ngValue]="null"></option>-->
                            <option [ngValue]="gameTypeOption.id === game.typeOfGame?.id ? game.typeOfGame : gameTypeOption"
                                    *ngFor="let gameTypeOption of gameTypes; trackBy: trackGameTypeById">
                                {{gameTypeOption.title}}
                            </option>
                        </select>

                        <button type="button"
                                style="width: 40px"
                                [routerLink]="['/', { outlets: { popup: 'game-type-new'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm col-xs-2">
                            <span class="fa fa-plus"></span>
                        </button>

                    </div>

                </div>

                <!--Begin Time-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.beginTime"
                           for="field_beginTime">Begin Time</label>
                    <div class="d-flex">
                        <input id="field_beginTime" type="datetime-local" class="form-control" name="beginTime"
                               [(ngModel)]="game.beginTime"
                               required/>
                    </div>
                    <div [hidden]="editForm.controls.beginTime?.errors !== null && !isSaving">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.beginTime?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.beginTime?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <!--Duration-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.duration" for="field_duration">
                        Duration (h)
                    </label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           [(ngModel)]="game.duration" [gt]="0" required/>
                    <div [hidden]="editForm.controls.duration?.errors !== null && !isSaving">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.duration?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.duration?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.duration?.errors?.gt"
                               jhiTranslate="entity.validation.number">
                            This field should be greater then 0.
                        </small>
                    </div>
                </div>

                <!--Number of Players-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.numberOfPlayers"
                           for="field_numberOfPlayers">Number Of Players</label>
                    <input type="number" class="form-control" name="numberOfPlayers" id="field_numberOfPlayers"
                           [(ngModel)]="game.numberOfPlayers" required min="1"/>
                    <div [hidden]="editForm.controls.numberOfPlayers?.errors !== null && !isSaving">

                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfPlayers?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfPlayers?.errors?.min"
                               jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfPlayers?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <!--Slots-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.numberOfSlots"
                           for="field_numberOfSlots">Number Of Slots</label>
                    <input type="number" class="form-control" name="numberOfSlots" id="field_numberOfSlots"
                           [(ngModel)]="game.numberOfSlots" required min="1" max="{{game.numberOfPlayers}}"/>
                    <div [hidden]="editForm.controls.numberOfSlots?.errors !== null && !isSaving">

                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfSlots?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfSlots?.errors?.min"
                               jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfSlots?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <!--Description-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playerFinderApp.game.description"
                           for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="game.description" maxlength="100"/>
                    <div [hidden]="editForm.controls.description?.errors !== null && !isSaving">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="footer">
                    <button type="button" class="btn btn-secondary" (click)="clear()">
                        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <!--[disabled]="editForm.form.invalid || isSaving"-->
                        <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
