.row{
    margin-right: 0;
}
/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    /*padding: .2em 1em;*/
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
        background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 60%;
    }
}
@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}


.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */


.jh-logo-container {
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.navbar-brand.logo {
    padding: 5px 15px;
}

.logo {
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
    background: url("../../../content/images/new_logo.png") no-repeat center center;
    background-size: contain;
    margin-left: 10%;
}

@media screen and (max-width: 700px) {
    .navbar-brand.logo {
        padding: 2px 5px;
    }

    .logo .logo-img {
        height: 80px;
        width: 250px;
    }

    .logo-img {
        height: auto;
        width: 60%;
    }
}
